﻿<script type="text/html" id="single-document-template">
    <tr data-bind="initComponent">
        <!--ko if: $parent.shouldBeActive() || (($parent.isArchive() || $parent.isTrash()) && $parent.isAdmin())  -->
        <td>
            <input type="checkbox" data-bind="click: $parent.modifySelection.bind($parent), checked: isChecked()" />
        </td>
        <!-- /ko -->
        <td class="name-table-data" data-toggle="modal" data-target="#view-document-modal" data-bind="click: $parent.openFileView.bind($parent)">
            <span data-bind="text: Name" data-toggle="tooltip" data-placement="top" 
                       title="@WebApp.Resources.Data.EditView"></span>
        </td>
        <td data-bind="text: Type().Name"></td>
        <td data-bind="text: StoreDate().toLocaleDateString()"></td>
        <td data-bind="text: Owner"></td>
        <td data-bind="text: Subject"></td>
        <td data-bind="text: Company"></td>
        <!-- ko if: $parent.shouldBeActive() -->
        <td class="options-td aligncenter">
            <span class="action-icon archive-action"
                  data-bind="click: $root.openConfirmModal.bind($root, 'ArchivateDocModalTitle',
                  'ArchivateDocModalQuestion', $parent.archivateDocument.bind($parent, $data),
                  Name())">
                <i class="fas fa-database" data-toggle="tooltip" data-placement="left" 
                       title="@WebApp.Resources.Data.ArchivateDocModalTitle"></i>
            </span>
            <span class="action-icon">
                <a data-bind="attr: {href: App.Service.endpoints.getFile + Guid }" class="download-action">
                    <i class="fas fa-download" data-toggle="tooltip" data-placement="top" 
                       title="@WebApp.Resources.Data.DownloadFile"></i>
                </a>
            </span>
            <span class="action-icon export-action" data-bind="click: $parent.setExportModalData.bind($parent, [$data.Guid]), 
                  setModalSubmitCallback: {modalSelector: '#export-document-modal', cb: $parent.exportDocuments, ctx: $parent }">
                <i class="fas fa-file-archive" data-toggle="tooltip" data-placement="top" 
                       title="@WebApp.Resources.Data.ExportSingle"></i>
            </span>
            <span class="action-icon copy-action" data-toggle="modal" data-target="#add-document-modal" 
                  data-bind="click: $parent.openSaveNewDocumentForm.bind($parent, true, $data)">
                <i class="fas fa-copy" data-toggle="tooltip" data-placement="top" 
                       title="@WebApp.Resources.Data.CopyTitle"></i>
            </span>
            <span class="action-icon edit-action" data-toggle="modal" data-target="#view-document-modal" data-bind="click: $parent.openFileView.bind($parent)">
                <i class="fas fa-edit" data-toggle="tooltip" data-placement="top" 
                       title="@WebApp.Resources.Data.EditView"></i>
            </span>
            <span class="action-icon delete-action"
                  data-bind="click: $root.openConfirmModal.bind($root, 'DeleteDocModalTitle',
                  'DeleteDocModalQuestion', $parent.deleteDocuments.bind($parent, [$data.Guid]),
                  Name())">
                <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="right" 
                       title="@WebApp.Resources.Data.DeleteDocModalTitle"></i>
            </span>
        </td>
        <!-- /ko -->
        <!--ko if: $parent.isAdmin() && ($parent.isArchive() || $parent.isTrash()) -->
        <td class="options-td aligncenter">
            <span class="action-icon restore-action"
                  data-bind="click: $parent.isArchive()
                  ? $root.openConfirmModal.bind($root, 'RestoreArchiveTitle',
                  'RestoreArchiveQuestion', $parent.restoreArchivedDocuments.bind($parent, [$data.Guid]), Name())
                  : $root.openConfirmModal.bind($root, 'RestoreDeletedTitle',
                   'RestoreDeletedQuestion', $parent.restoreDeletedDocuments.bind($parent, [$data.Guid]), Name())">

                <i class="fas fa-undo-alt" data-toggle="tooltip" data-placement="top" 
                       title="@WebApp.Resources.Data.Restore"></i>
            </span>
        </td>
        <!-- /ko -->
    </tr>
</script>
