﻿<script type="text/html" id="single-file-cabinet-template">
    <tr data-bind="initComponent">
        <td class="name-table-data" data-bind="text: Name, click: $root.openFileCabinet.bind($root, $data)"></td>
        <!-- ko ifnot: $root.currentUser().Role.Name === UserRoles.Guest -->
        <td class="options-td">
            <span class="delete-action action-icon f-right"
                  data-bind="click: $root.openConfirmModal.bind($root, 'DeleteFcModalTitle',
                  'DeleteFcModalQuestion', $root.deleteFileCabinet.bind($root, $data),
                   Name())">
                <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="right" 
                       title="@WebApp.Resources.Data.DeleteFcModalTitle"></i>
            </span>
            <span class="edit-action action-icon f-right" data-bind="click: $parent.openFcModal.bind($parent)" 
                  data-target="#file-cabinet-modal" data-toggle="modal">
                <i class="fas fa-edit" data-toggle="tooltip" data-placement="left" 
                       title="@WebApp.Resources.Data.EditFcTitle"></i>
            </span>
        </td>
        <!-- /ko -->
    </tr>
</script>

