﻿<script type="text/html" id="search-template">
    <div class="row">
        <div class="nopadding search-section col-lg-12">
            <input class="form-control form-control-lg" type="search" placeholder="@WebApp.Resources.Data.Search"
                   data-bind="value: searchFieldValue">
        </div>     
    </div>
    <hr class="top-hr" />
</script>
