﻿<script type="text/html" id="file-cabinets-template">
    <div id="file-cabinets-root" data-bind="initComponent">
        <!-- ko template: {name: 'search-template'}-->
        <!-- /ko -->

        <div class="row information-row">
            <div class="col-lg-12">
                <h3 class="fc-heading" data-bind="click: sortByProperty.bind($data, 'Name')">
                    @WebApp.Resources.Data.FcLabel
                    <i class="fas fa-long-arrow-alt-up" data-bind="visible: $data.isAscToggle() === true"></i>
                    <i class="fas fa-long-arrow-alt-down" data-bind="visible: $data.isAscToggle() === false"></i>
                </h3>
                <!-- ko if: shouldBeActive() -->
                <span data-toggle="modal" data-target="#file-cabinet-modal" class="add-action action-icon"
                      data-bind="click: openFcModal.bind($data, null)">
                    <i class="fas fa-plus-square"  data-toggle="tooltip" data-placement="top" 
                       title="@WebApp.Resources.Data.AddFileCabinetTitle"></i>
                </span>
                <!-- /ko -->

            </div>
        </div>
        <div class="row">
            <!--ko if: fileCabinets().length > 0 -->
            <table class="table table-hover">
                <thead>
                </thead>
                <tbody data-bind="template: {name: 'single-file-cabinet-template', foreach: fileCabinets}"></tbody>
            </table>
            <!-- /ko -->

            <!--ko ifnot: fileCabinets().length > 0 -->
            <div class="col-lg-12">
                <h4 class="no-files">@WebApp.Resources.Data.NoFileCabinets</h4>
            </div>
            <!-- /ko -->
        </div>

        <div class="row">
            <!--ko if: maxPageNumber() > 1 -->
            <div class="col-lg-12 pagination-wrapper">
                <nav>
                    <ul class="pagination">
                        <li class="page-item" data-bind="css: { 'disabled': currentPage() == 1 }">
                            <a class="page-link" href="#" tabindex="-1" data-bind="click: getPrevPage">@WebApp.Resources.Data.PreviousPageLabel</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#" data-bind="text: currentPage()"><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item" data-bind="css: { 'disabled': currentPage() == maxPageNumber() }">
                            <a class="page-link" href="#" data-bind="click: getNextPage">@WebApp.Resources.Data.NextPageLabel</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- /ko -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- ko if: shouldBeActive() -->
                <button type="button" class="btn show-archive-button"
                        data-bind="click: $root.openArchive.bind($root)">
                    @WebApp.Resources.Data.ShowArchiveBtnLabel
                </button>
                <!-- /ko -->
                <!-- ko if: isAdmin()  -->
                <button type="button" class="btn btn-danger"
                        data-bind="click: $root.openTrash.bind($root)">
                    @WebApp.Resources.Data.ShowDeletedBtnLabel
                </button>
                <!-- /ko -->
                <select class="form-control pageElSelect"
                        data-bind="options: App.Config.pageElementsAvailableOptions,
                                   value: pageElements"></select>

                <label class="elPerPageLabel">@WebApp.Resources.Data.ElPerPage:</label>
            </div>
        </div>

        <!--ko with: $data-->
        <!-- ko template: {name: 'file-cabinet-template' }-->
        <!-- /ko -->
        <!-- /ko -->
    </div>
</script>

@Html.Partial("Templates/Entries/_SingleFileCabinet")
@Html.Partial("Templates/Modals/_FileCabinetModal")