﻿
@{
    ViewBag.Title = "App";
}
<div class="container" id="app-root">
    <div class="row" data-bind="initComponent">
        <div class="col-lg-12">
            <!--ko if: fileCabinetsVm -->
            <!--ko with: fileCabinetsVm-->
            <!-- ko template: {name: 'file-cabinets-template' }-->
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
            <!--ko if: documentsVm -->
            <!--ko with: documentsVm -->
            <!-- ko template: {name: 'documents-template' }-->
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>

    <!-- ko template: {name: 'confirm-modal-template'}-->
    <!-- /ko -->
</div>

@Html.Partial("_FileCabinets")
@Html.Partial("_Documents")
@Html.Partial("Templates/Modals/_ConfirmModal")
@Html.Partial("Templates/Alerts/_FormErrorAlert")
@Html.Partial("Templates/Alerts/_GeneralErrorAlert")
@Html.Partial("Templates/Other/_Search")



@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/src")
}