﻿@model  Models.User
@{
    ViewBag.Title = "Logins";
}


<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            @using (Html.BeginForm("Login", "Users", FormMethod.Post, new { @class = "login-form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="Username">@WebApp.Resources.Data.UsernameLabel:</label>
                    @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
                <div class="form-group">
                    <label for="Password">@WebApp.Resources.Data.PasswordLabel:</label>
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(m => m.Password)

                </div>
                <h4 class="error-field">@TempData["ErrorValue"]</h4>
                <button type="submit" class="btn btn-primary">@WebApp.Resources.Data.LoginBtn</button>
            }
        </div>
    </div>

</div>

@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/src")
}