﻿<script type="text/html" id="document-input-fields-template">
    <div class="form-group">
        <label for="Name">@WebApp.Resources.Data.NameLabel:<span class="required-field">*</span> </label>
        <input type="text" class="form-control" id="Name" name="Name"
               data-bind="value: docModalData().Name, attr: {disabled: !shouldBeActive()}" required />
    </div>
    <div class="form-group">
        <label for="Description">@WebApp.Resources.Data.DescriptionLabel: </label>
        <textarea class="form-control" id="Description" name="Description"
                  data-bind="value: docModalData().Description, attr: {disabled: !shouldBeActive()}"></textarea>
    </div>
    <div class="form-group">
        <label for="Type">@WebApp.Resources.Data.TypeLabel:<span class="required-field">*</span></label>
        <select class="form-control" id="Type" name="Type"
                data-bind="options: App.Service.dataMapper.documentTypes,
                                    optionsText: 'Name',
                                    optionsValue: 'Guid',
                                    optionsCaption: App.Service.locResources['ChooseTypeLabel'],
                                    value: addDocSelectValue,
                                    attr: {disabled: !isDoctypeActive() }"
                required></select>
    </div>
    <div class="form-group" data-bind="if: modalDocTypeName() === App.Service.locResources['Invoice']">
        <label for="Amount">@WebApp.Resources.Data.AmountLabel:</label>
        <input type="number" class="form-control" id="Amount" name="Amount"
               data-bind="value: docModalData().Amount, attr: {disabled: !shouldBeActive()}" />
    </div>
    <div class="form-group" data-bind="if: modalDocTypeName() === App.Service.locResources['Invoice']">
        <label for="Vat">@WebApp.Resources.Data.VatLabel:</label>
        <input type="number" class="form-control" id="Vat" name="Vat"
               data-bind="value: docModalData().Vat, attr: {disabled: !shouldBeActive()}" />
    </div>
    <div class="form-group" data-bind="if: modalDocTypeName() === App.Service.locResources['Invoice']">
        <label for="TotalAmount">@WebApp.Resources.Data.TotalAmountLabel:</label>
        <input type="number" class="form-control" id="TotalAmount" name="TotalAmount"
               data-bind="value: docModalData().TotalAmount" disabled />
    </div>
    <div class="form-group">
        <label for="Subject">@WebApp.Resources.Data.SubjectLabel: </label>
        <input type="text" class="form-control" id="Subject" name="Subject"
               data-bind="value: docModalData().Subject, attr: {disabled: !shouldBeActive()}" />
    </div>
    <div class="form-group">
        <label for="RegDocNumber">@WebApp.Resources.Data.RegDocNumberLabel: </label>
        <input type="text" class="form-control" id="RegDocNumber" name="RegDocNumber"
               data-bind="value: docModalData().RegDocNumber, attr: {disabled: !shouldBeActive()}" />
    </div>
    <div class="form-group">
        <label for="Contact">@WebApp.Resources.Data.ContactLabel: </label>
        <input type="text" class="form-control" id="Contact" name="Contact"
               data-bind="value: docModalData().Contact, , attr: {disabled: !shouldBeActive()}" />
    </div>
    <div class="form-group">
        <label for="Company">@WebApp.Resources.Data.CompanyLabel: </label>
        <input type="text" class="form-control" id="Company" name="Company"
               data-bind="value: docModalData().Company, , attr: {disabled: !shouldBeActive()}" />
    </div>
    <!-- ko template: {name: 'form-error-template'}-->
    <!-- /ko -->
</script>
