﻿<script type="text/html" id="export-document-template">
    <div class="modal fade" id="export-document-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">@WebApp.Resources.Data.ExportDocTitle</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="ZipName">@WebApp.Resources.Data.ZipNameLabel:</label>
                            <input type="text" class="form-control" id="ZipName" name="ZipName" data-bind="value: archiveName" required />
                        </div>
                        <!--ko if: exportData().length === 1 -->
                        <div class="form-group">
                            <label for="Description">@WebApp.Resources.Data.DescriptionLabel:</label>
                            <textarea class="form-control" id="Description" name="Description" disabled data-bind="value: docModalData().Description" />
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="Type">@WebApp.Resources.Data.TypeLabel:</label>
                                            <input type="text" class="form-control" id="Type" name="Type" data-bind="value: docModalData().Type().Name" disabled />
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="StoreDate">@WebApp.Resources.Data.StoreDateLabel:</label>
                                            <input type="text" class="form-control" id="StoreDate" name="StoreDate" data-bind="value: docModalData().StoreDate().toLocaleDateString()" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko template: {name: 'form-error-template'}-->
                        <!-- /ko -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@WebApp.Resources.Data.CancelLabel</button>
                        <button type="submit" class="btn btn-primary" id="submit">
                            @WebApp.Resources.Data.ExportLabel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
