﻿<script type="text/html" id="import-document-template">
    <div class="modal fade" id="import-documents-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-bind="resetModalForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">@WebApp.Resources.Data.ImportDocsTitle</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form enctype="multipart/form-data" method="post" data-bind="submit: importDocuments">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="file" class="custom-file-input" id="importFile" accept=".zip" name="File" data-bind="customFileInput" required />
                            <label class="custom-file-label" for="customFile">@WebApp.Resources.Data.ChooseFile</label>
                        </div>
                        <div class="progress">
                            <div class="progress-bar upload-file-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!-- ko template: {name: 'form-error-template'}-->
                        <!-- /ko -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@WebApp.Resources.Data.CancelLabel</button>
                        <button type="submit" class="btn btn-primary" id="submit">@WebApp.Resources.Data.SaveBtnLabel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
