﻿<script type="text/html" id="view-document-template">
    <div class="modal fade" id="view-document-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" data-bind="text: docModalData().Name"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form data-bind="submit: updateDocument ">
                    <div class="modal-body">
                        <div class="row document-data-row">
                            <div class="col-lg-7 file-preview">
                                <!-- ko if: shouldHavePreview()-->
                                <iframe class="file-preview-placeholder" data-bind="attr: {src: App.Service.endpoints.getFile + docModalData().Guid + '?isFileView=true' }"></iframe>
                                <!-- /ko -->
                                <!-- ko ifnot: shouldHavePreview()-->
                                <div class="no-preview">
                                    <h1>Preview not supported!</h1>
                                    <h2 data-bind="text: currentFileExt() + ' file'"></h2>
                                </div>
                                <!-- /ko -->
                            </div>
                            <div class="col-lg-5 index-data">
                                <!-- ko template: {name: 'document-input-fields-template' }-->
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                    <!-- ko if: shouldBeActive() -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@WebApp.Resources.Data.CancelLabel</button>
                        <button type="submit" class="btn btn-primary">@WebApp.Resources.Data.SaveBtnLabel</button>
                    </div>
                    <!-- /ko -->
                </form>
            </div>            
        </div>
    </div>
</script>
